@import "tailwindcss";

body {
    background-color: #0d0d0d;
    color: white;
    font:bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button, input {
    margin: 4;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold ;
}